<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/chart.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>Stock Novice</title>
</head>

<body id="page-top">

  <!-- Navigation (START) -->
  <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger white-text" href="#page-top">Stock Novice</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#stock-section">Stocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#transactions-section">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#chart-section">Chart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation (END) -->

  <!-- JUMBOTRON (START) -->
  <div class="jumbotron jumbotron-fluid jumbotron-positions">
    <div class="container">
      <h2 class="display-4 text-center title">Stock Novice</h2>
    </div>
  </div>
  <!-- JUMBOTRON (END) -->

  <!-- INTRODUCTION (START) -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10 offset-1">
        <h2 class="text-center" id="intro">Introduction</h2>
        <p class="text-center" id="introStatement">This application is designed to simulate basic stock transactions
          over a
          fixed series of historical 30-day monthly periods. You start with $100,000 cash and have a list of stocks and
          indexes (basket of stocks) to choose from. The prices on screen are historical prices from that respective
          period. Your only limitation to buying and selling is your cash balance. Once your done trading for a
          specific period, click the ‘Next Period’ button to advance and see the new prices and your new portfolio
          valuation. The full simulation is 12 periods long. After you complete all 12 periods click the ‘Create Chart”
          button to see a visualization of your stock portfolio's performance over the given time series.</p>
      </div>
    </div>
  </div>
  <!-- INTRODUCTION (END) -->

  {{{ body }}}

  <!-- Footer (START) -->
  <footer class="page-footer font-small bg-secondary">
    <div class="footer-copyright text-center py-3" style="font-family: 'Righteous', cursive">Copyright © 2019:
      <a href="#page-top" id="footer-project-name" style="font-family: 'Righteous', cursive"> Stock Novice, LLC</a>
    </div>
  </footer>
  <!-- Footer (END) -->

  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="/assets/js/scroll.js"></script>
  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/d3.min.js"></script>
  <script src="/assets/js/chart.js"></script>

</body>

</html>