body {
  margin: 0;
  padding: 0;
}

.jumbotron-positions {
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-position: center top;
}

.title {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 95px;
  letter-spacing: 4px;
}

#border {
  border-color: #007bff;
  border-style: solid;
  border-width: 1px;
  padding: 6px 0 6px 0;
  border-radius: 1rem;
}

h2 {
  margin: 3% 0% 1% 0%;
  font-family: 'Righteous', cursive;
}

#intro {
  margin: 1% 0% 1% 0%
}

.card {
  margin: 1% 0 0 4%;
  border-radius: 1rem;
}

.table-striped {
  margin: 0 10px 0 10px;
  width: 98%
}

#btn-next_monthly-period,
#btn-refresh_history,
#btn-create_chart {
  margin: 2% 0% 2% 78%;
  width: 50%;
}

.form-control {
  height: calc(1.5rem + 2px);
  font-size: .65rem;
}

.btn {
  line-height: .75rem;
}

.buy-sell-title {
  padding-bottom: 10px;
}

.stock-lists {
  margin-bottom: 10px;
}

#buy,
#sell {
  font-size: .85rem;
}

#chart-area {
  height: 465px;
}

.navbar-nav,
.nav-link {
  color: white;
}

.navbar-brand,
.nav-link {
  font-family: 'Righteous', cursive;
}

a.nav-item {
  padding-left: .75rem;
  padding-right: .75rem;
  font-family: 'Righteous', cursive;
}

#mainNav {
  background: #007bff;
}

body::-webkit-scrollbar {
  width: 0 !important
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
  border-color: black;
}

a:hover {
  color: black;
}

.footer-copyright,
a,
.nav-link {
  color: white;
}

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.my-custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.table td {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.page-footer {
  margin: 3% 0 0 0;
}

@media only screen and (max-width: 992px) {
  #buy_shares {
    margin-left: 15px;
  }

  h6 {
    font-size: 0.75rem;
  }

  .buy-sell-header {
    margin-left: 7px;
  }

  .valuation-header {
    margin-right: 10px;
  }

  .price-header {
    margin-right: 5px;
    /* padding-left: 5px; */
  }
}

@media only screen and (max-width: 768px) {

  #btn-next_monthly_period,
  #btn-refresh_history {
    margin-right: 0% 5% 0 3%;
  }
}

/* @media only screen and (max-width: 1112px) {
  .jumbotron-positions {
    width: 100%;
  }
} */